@mixin buttons($colors...) {
    @if $buttons {
        .button {
            font:{
                size: 1rem;
                weight: 500;
            }
            display: inline-block;
            outline: none;
            border-radius: $br;
            margin-top: 10px;
            padding: 10px 30px;
            letter-spacing: 3px;
            // transition: .7s;
            text-decoration: none;
            a{
                text-decoration: none;
            }
            // Button Defaul
            &__default{
                background-color: map-get($button-colors,nth($colors, 1));
                color: $white;
                border: 3px solid map-get($button-colors,nth($colors, 1));
                transition: .7s;
                &:hover{
                    border: 3px solid lighten(map-get($button-colors,nth($colors, 1)),20%);
                    transition: .7s;
                }
                &:focus, &:active{
                    background-color: darken(map-get($button-colors,nth($colors, 1)),10%);
                    border: 3px solid lighten(map-get($button-colors,nth($colors, 1)),30%);
                    transition: .7s;
                }
            }
            @if length($colors) > 1{
                @for $i from 2 through length($colors){
                    &__#{nth($colors,$i)}{
                        background-color: map-get($button-colors,nth($colors, $i));
                        color: $white;
                        border: 3px solid map-get($button-colors,nth($colors, $i));
                        transition: .7s;
                        &:hover{
                            border: 3px solid lighten(map-get($button-colors,nth($colors, $i)),20%);
                            transition: .7s;
                        }
                        &:focus, &:active{
                            background-color: darken(map-get($button-colors,nth($colors, $i)),10%);
                            border: 3px solid lighten(map-get($button-colors,nth($colors, $i)),30%);
                            transition: .7s;
                        }
                    }
                }
            }
        } //fin Button
    }
}