
nav.navbar
    a(href="#").navbar-brand Navbar
        img(src="", alt="")
    //- Item Menu
    ul.navbar-menu
        li.navbar-menu__item
            a(href="#") Home
        li.navbar-menu__item
            a(href="#") About
        li.navbar-menu__item
            a(href="#") Services
        li.navbar-menu__item
            a(href="#") Contact Us
            