// Icon Bar
.menu-icon
	span
	span
	span

// Menu SideBar
.sidebar
	// logo
	a(href="index.html")
		img(src="img/logo-easy-css-circle.png", alt="")

	// Item Menu
	.menu
		li 
			a(href="index.html") Home
				.line
		li
			a(href="about.html") About Us
				.line
		li
			a(href="services.html") Services
				.line
		li
			a(href="portfolio.html") Portfolio
				.line

		li
			a(href="gallery.html") Gallery
				.line

		li
			a(href="gallery.hmtl") Our Jobs
				.line

		li
			a(href="refill-prescriptions.html") Our work team
				.line

		li
			a(href="contact.html") Contact Us
				.line
	
	// Redes Sociales
	.social-icon
		li
			a(href="#")
				i.fab.fa-facebook-f
		li
			a(href="#")
				i.fab.fa-twitter
		li
			a(href="#")
				i.fab.fa-google-plus-g
		li
			a(href="#")
				i.fab.fa-instagram
		li
			a(href="#")
				i.fab.fa-linkedin-in
